body{
    width:400px;
    height:450px;
}
.outer{
    border-style:solid;
    width:400px;
    height:450px;
    background: #fff url(../images/bg.jpg) repeat top left;
}

.head{
    height:60px;
    width:400px;  /*设置div的大小*/
    border:1px solid green;    /*边框*/
    text-align: center;        /*文字水平居中对齐*/
    line-height:50px;        /*设置文字行距等于div的高度*/
    overflow:hidden;
    margin-top:0px;
    margin-left:0px;
    font-family:'BebasNeueRegular', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    color: rgba(26,89,120,0.9);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);

}

input{
    border-color: #fff7ea;
    border-width:3px;
    padding:1px 3px 6px 3px
    border-radius:5px;
}

a:link,a:visited{
    text-decoration:none;/*超链接无下划线*/
    color: #000000
}
a:hover{
    text-decoration:underline;  /*鼠标放上去有下划线*/
    color: #2016ff
}

.userName{
    margin-top:40px;
    margin-left:60px;
    border:none;
}

.userName input{
    height:35px;
    width:250px;
}

.mail{
    margin-top:20px;
    margin-left:60px;
    border:none;
}

.mail input {
    height: 35px;
    width: 250px;
}

.password{
    margin-top:20px;
    margin-left:60px;
    border:none;
}

.password input{
    height:35px;
    width:250px;
}

.ensurepwd{
    margin-top:20px;
    margin-left:60px;
    border:none;
}

.ensurepwd input {
    height: 35px;
    width: 250px;
}

.login{
    margin-top:10px;
    margin-left:150px;
    font-size: 15px;
    float:left;
}

.exit{
    padding-top:10px;
    padding-left:230px;
    font-size: 15px;
}






#button{
    margin-top:20px;
    margin-left:130px;
    color:White;
    background:#4490f7;
    text-decoration:none;
    padding:10px 45px;
    border-radius:5px;
    opacity:0.8;
    filter:alpha(opacity=80);

}
